# ----------------------------
# System files
# ----------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.cache/
.local/share/Trash/

# ----------------------------
# Shell history (DO NOT TRACK)
# ----------------------------
.zsh_history
.bash_history
.history
*.history



# Ignore specific folders in ~/.config
VSCodium/
starship/
zsh/.zcompdump*
zsh/.zsh_sessions/
zsh/.zshrc.pre-oh-my-zsh
zsh/.zshrc.*

# Logs / dumps
*.log
*.dump
*.tmp
*.bak
*.pid

# Vim swap / temp
*.swp
*.swo
*~

# Shell history (if any end up here)
*.history


gh/
go/